/*
 * Primary Color: #E9D4C2 #B1A59B #9B6B43 #F4E3D5 #F4E8DE
 * Secondary Color: #748C8C #5D6A6A #285D5D #ADC5C5 #B3C5C5
 */

@import url(http://fonts.googleapis.com/css?family=Trykker);
@import url(http://fonts.googleapis.com/css?family=Oldenburg);
@import url(http://fonts.googleapis.com/css?family=Overlock+SC);

body {
/*  font-family: 'Oldenburg', cursive; */
  font-family: 'Trykker', serif;
  font-size: 8px;
  background: #F4E8DE;
}

a {
  color: #748C8C;
  text-decoration: none;
}

#body-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#blog-title {
  font-family: 'Oldenburg', cursive;
  font-weight: bold;
  font-size: 3em;
  margin: 0px 0px 20px 0px;
}

#blog-title a {
  color: #000;

}

#page-navigation {
  text-align: center;
}

#powered-by {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.post {
  postition: relative;
}

.post-date {
  text-align: right;
  font-size: 10px;
  float: right;
  margin: 10px 0px 0px 0px;
}

.post-title {
  font-family: 'Overlock SC', cursive;
  font-size: 2em;
  color: #9B6B43;
  float: left;
}

.post-title a {
  color: #9B6B43;
}

.post-author {
  clear: both;
  font-size: 10px;
  color: #808080;
}

.post-summary {
  clear: both;
  margin: 5px 0px 30px 0px;
}

/** Markdown *****************************************************************/

::-moz-selection{background:rgba(255,255,0,0.3);color:#000}
::selection{background:rgba(255,255,0,0.3);color:#000}

a::-moz-selection{background:rgba(255,255,0,0.3);color:#0645ad}
a::selection{background:rgba(255,255,0,0.3);color:#0645ad}

img {
  max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  color:#111;
  line-height:1em;
}
h4, h5, h6 { font-weight: bold; }
h1 { font-size: 2em;    }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; border-bottom: 1px solid #808080; }
h4 { font-size: 1em;    }
h5 { font-size: 0.9em;  }
h6 { font-size: 0.8em;  }

blockquote {
  color: #606060;
  margin: 0;
  padding-left: 10px;
  border-left: 5px #E9D4C2 solid;
}

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  color: #606060;
}

hr {
  display: block;
  height: 2px;
  border: 0px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0px;
}

pre, code, kbd, samp {
  color: #000;
  font-family: monospace, monospace;
  font-size: 0.98em;
  _font-family: 'courier new', monospace;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #E9D4C2;
  padding: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre code {
  color: #808080;
  font-size: 11px;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin:0
}

dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  body {
    font-size:14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size:16px;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  body {
    font-size:12pt;
    max-width:100%;
  }

  a, a:visited {
    text-decoration: underline;
  }

  hr {
    height: 1px;
    border:0;
    border-bottom:1px solid black;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
